body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1920px;
}

.h {
  font-weight: 600;
}

.link {
  text-decoration: none;
}

.content {
  padding: 40px 30px;
  width: 1230px;
  margin: 0 auto;
  box-sizing: border-box;
}

.blue {
  color: #00bff3;
}

.ext-link {
  color: #959595;
}
.ext-link:hover {
  border-bottom: 1px solid #959595;
}

.grey {
  color: #959595;
}

.header {
  position: relative;
  height: 1024px;
}

.header-slider {
  background: url("../img/slider.png") no-repeat;
  background-color: rgba(17, 17, 17, 0.7);
  background-size: 100%;
  background-position: top left;
  background-blend-mode: multiply;
  height: inherit;
  width: 100%;
  position: absolute;
}

.header-slider__control {
  position: relative;
  top: 475.5px;
  left: 150px;
  width: 1620px;
}
.header-slider__control:after {
  content: "";
  clear: both;
  display: block;
}

.slides {
  position: absolute;
  bottom: 40px;
  left: 911px;
  width: 98px;
  display: flex;
  justify-content: space-between;
}

.header-slider__left,
.header-slider__right {
  width: 40px;
  height: 73px;
  cursor: pointer;
}

.header-slider__left {
  background: url("../img/left.svg") no-repeat center;
  float: left;
}
.header-slider__left:hover {
  transform: rotate(180deg);
  background: url("../img/right.svg") no-repeat center;
}

.header-slider__right {
  float: right;
  transform: rotate(180deg);
  background: url("../img/left.svg") no-repeat center;
}
.header-slider__right:hover {
  transform: rotate(0);
  background: url("../img/right.svg") no-repeat center;
}

.header
.header-content {
  position: relative;
}

.wrapper-logo-navbar:after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  float: left;
  position: relative;
}

.logo__text {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 34px;
  font-weight: 400;
  top: -17px;
}

.navbar {
  float: right;
  height: 56px;
  line-height: 56px;
  position: relative;
}

.menu {
  display: inline-block;
}

.menu__item {
  display: inline-block;
  margin: 0 15px;
}

.menu__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.menu__link:hover {
  color: #c7b29a;
}

.wrapper-cart-search {
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-left: 35px;
}

.header__link-cart {
  display: inline-block;
  width: 18px;
  height: 24px;
  margin: 0 14px;
  background: url("../img/icon-cart.svg") no-repeat center;
}
.header__link-cart:hover {
  background: url("../img/icon-cart-hover.svg") no-repeat center;
}

.header__link-search {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 14px;
  background: url("../img/icon-search.svg") no-repeat center;
}
.header__link-search:hover {
  background: url("../img/icon-search-hover.svg") no-repeat center;
}

.slogan {
  margin: 285px auto 0;
  color: #ffffff;
  text-align: center;
  width: 589px;
}

.slogan__p1 {
  font-size: 36px;
  font-weight: 500;
}

.slogan__head {
  font-size: 52px;
  font-weight: 700;
}

.slogan__p2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.header__button-get-started {
  display: block;
  margin: 52px auto 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  border-radius: 3px;
  background-color: #998675;
  width: 170px;
  height: 53px;
  box-shadow: 0 3px 0 #615347;
}
.header__button-get-started:hover {
  background: #615347;
}

.services {
  height: 373px;
}

.services-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.services__item {
  width: 266px;
  text-align: center;
}
.services__item:hover .item__img-design {
  background: url("../img/icon-design-hover.svg") no-repeat center;
}
.services__item:hover .item__img-dev {
  background: url("../img/icon-dev-hover.svg") no-repeat center;
}
.services__item:hover .item__img-custom {
  background: url("../img/icon-custom-hover.svg") no-repeat center;
}
.services__item:hover .item__img-marketing {
  background: url("../img/icon-marketing-hover.svg") no-repeat center;
}
.services__item:hover .item__head {
  color: #c7b29a;
}
.services__item:hover .item__line {
  background: #c7b29a;
}

.item__img {
  width: 49px;
  height: 49px;
  margin: 0 auto;
}

.item__img-design {
  background: url("../img/icon-design.svg") no-repeat center;
}

.item__img-dev {
  background: url("../img/icon-dev.svg") no-repeat center;
}

.item__img-custom {
  background: url("../img/icon-custom.svg") no-repeat center;
}

.item__img-marketing {
  background: url("../img/icon-marketing.svg") no-repeat center;
}

.item__head {
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}

.item__desc {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 20px;
}

.item__line {
  display: block;
  width: 70px;
  height: 3px;
  background: #f1eee9;
  margin: 30px auto 0;
}

.realization {
  height: 700px;
  background: url("../img/Background-realization.png") no-repeat;
}

.realization__head {
  color: #555555;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
}

.realization__desc {
  width: 757px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding-top: 24px;
  margin: 0 auto;
}

.text-box {
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  height: 150px;
}

.text-box-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.text-box__head {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
}

.text-box__head-colored {
  color: #c7b29a;
}

.text-box__desc {
  font-family: "Montserrat", sans-serif;
  color: #615855;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.text-box__button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  border-radius: 3px;
  background-color: #998675;
  width: 170px;
  height: 53px;
  box-shadow: 0 3px 0 #615347;
}
.text-box__button:hover {
  background: #615347;
}

.projects-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects__head {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.projects__desc {
  width: 757px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin: 25px auto 40px;
}

.projects__switcher {
  margin: 0 auto 40px;
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.switcher__item {
  display: inline-block;
}

.switcher__link {
  display: inline-block;
  padding: 11px 27px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
}
.switcher__link:hover {
  background-color: #998675;
  color: #ffffff;
}

.projects__wrapper-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.projects-item:nth-child(-n+3) {
  margin-bottom: 30px;
}

.projects-item:hover .projects-item__img {
  background-blend-mode: multiply;
}
.projects-item:hover .projects-item__desc {
  background: #362f2d;
}
.projects-item:hover .projects-item__head {
  color: #ffffff;
}
.projects-item:hover .projects-item__text {
  color: #c7b29a;
}
.projects-item:hover .projects-item__hover-panel {
  display: block;
}
.projects-item:hover .projects-item__desc:before {
  border-bottom-color: #362f2d;
}

.projects-item__img {
  width: 370px;
  height: 237px;
}

.projects-item__hover-panel {
  display: none;
  text-align: center;
  position: relative;
  top: 106px;
}

.hover-panel__link {
  display: inline-block;
  background: url("../img/project-link.svg") no-repeat;
  width: 26px;
  height: 25px;
  margin-right: 14px;
}

.hover-panel__magnifier {
  display: inline-block;
  cursor: pointer;
  background: url("../img/project-lupa.svg");
  width: 26px;
  height: 25px;
  margin-left: 14px;
}

.projects-item__img1 {
  background: url("../img/project1.png") no-repeat rgba(17, 17, 17, 0.7);
}

.projects-item__img2 {
  background: url("../img/project2.png") no-repeat rgba(17, 17, 17, 0.7);
  background-size: cover;
}

.projects-item__img3 {
  background: url("../img/project3.png") no-repeat rgba(17, 17, 17, 0.7);
}

.projects-item__img4 {
  background: url("../img/project4.png") no-repeat rgba(17, 17, 17, 0.7);
}

.projects-item__img5 {
  background: url("../img/project5.png") no-repeat rgba(17, 17, 17, 0.7);
}

.projects-item__img6 {
  background: url("../img/project6.png") no-repeat rgba(17, 17, 17, 0.7);
}

.projects-item__desc {
  padding: 30px;
  box-sizing: border-box;
  background: #fbfaf8;
  position: relative;
}
.projects-item__desc:before {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  border-width: 10px 15px 10px 15px;
  border-style: solid;
  border-color: transparent;
  border-bottom: 10px solid #fbfaf8;
}

.projects-item__head {
  color: #c7b29a;
  font-size: 20px;
  font-weight: 500;
}

.projects-item__text {
  font-family: "Montserrat", sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.projects__button {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  border-radius: 3px;
  background-color: #998675;
  width: 170px;
  height: 53px;
  box-shadow: 0 3px 0 #615347;
}
.projects__button:hover {
  background: #615347;
}

.video-presentation {
  position: relative;
}

.video-presentation-content {
  position: absolute;
  top: 145px;
  left: 344px;
}

.video-presentation__img-play {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 44px;
}

.video-presentation__head {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.video-presentation__desc {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  width: 552px;
  margin: 29px auto 40px;
}

.video-presentation__time {
  font-family: "Montserrat", sans-serif;
  color: #c7b29a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.mobile-devices {
  background: url("../img/bg-mobile-devices.png");
  height: 695px;
}

.mobile-devices__content-wrapper {
  width: 657px;
  float: right;
  margin-top: 150px;
}

.mobile-devices__head {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
}

.mobile-devices__desc {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 45px;
}

.mobile-devices__list {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.mobile-devices__list-item {
  background: url("../img/icon-list.svg") no-repeat 33px 5px;
  padding-left: 95px;
}

.counters {
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  height: 300px;
  font-family: Montserrat, sans-serif;
}

.counters-content {
  display: flex;
  justify-content: space-between;
}

.counters-item {
  width: 132px;
  padding-top: 30px;
}

.counters-item__img {
  display: block;
  margin: 0 auto;
}

.counters-item__digit {
  color: #ffffff;
  font-size: 48px;
  font-weight: 200;
  line-height: 36px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 21px;
}

.counters-item__desc {
  color: #c7b29a;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.counters-item__line {
  background-color: #ffffff;
  width: 30px;
  height: 2px;
  margin: 30px auto 0;
}

.recent-posts-content {
  padding: 80px 30px;
}

.recent-posts__head {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.recent-posts__desc {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  width: 757px;
  margin: 30px auto 40px;
}

.recent-posts__wrapper-item {
  display: flex;
  justify-content: space-between;
}

.recent-posts-item {
  width: 370px;
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
}
.recent-posts-item:hover .recent-posts-item__img {
  background-blend-mode: multiply;
}
.recent-posts-item:hover .recent-posts-item__day {
  background: #c7b29a;
}
.recent-posts-item:hover .recent-posts-item__month {
  background: #a48d72;
}
.recent-posts-item:hover .recent-posts-item__desc {
  background: #362f2d;
}
.recent-posts-item:hover .recent-posts-item__head {
  color: #c7b29a;
}
.recent-posts-item:hover .recent-posts-item__text {
  color: #ffffff;
}

.recent-posts-item__img {
  height: 220px;
  box-sizing: border-box;
  padding: 20px;
}

.recent-posts-item__date-panel {
  color: #ffffff;
  width: 50px;
}

.recent-posts-item__day {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #363636;
  height: 35px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}

.recent-posts-item__month {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #252525;
  height: 25px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.recent-posts-item__img1 {
  background: url("../img/recent-posts1.png") no-repeat rgba(17, 17, 17, 0.7);
}

.recent-posts-item__img2 {
  background: url("../img/recent-posts2.png") no-repeat rgba(17, 17, 17, 0.7);
}

.recent-posts-item__img3 {
  background: url("../img/recent-posts3.png") no-repeat rgba(17, 17, 17, 0.7);
}

.recent-posts-item__desc {
  background-color: rgba(119, 119, 119, 0);
  height: 175px;
  box-sizing: border-box;
  padding: 30px;
}

.recent-posts-item__head {
  color: #555555;
  font-size: 20px;
  font-weight: 500;
}

.recent-posts-item__text {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 19px;
  margin-bottom: 27px;
}

.recent-posts-item__link {
  font-family: Montserrat, sans-serif;
  color: #c7b29a;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
  width: 88px;
  background: url("../img/arrow.png") no-repeat right 7px;
}

.recent-posts-switcher {
  width: 52px;
  margin: 40px auto 0;
}
.recent-posts-switcher:after {
  content: '';
  display: block;
  clear: both;
}

.recent-posts-switcher__left {
  width: 22px;
  height: 22px;
  background: url("../img/recent-posts-left.svg") no-repeat center center;
  float: left;
  cursor: pointer;
}
.recent-posts-switcher__left:hover {
  background: url("../img/recent-posts-right.svg") no-repeat center center;
  transform: rotate(180deg);
}

.recent-posts-switcher__right {
  width: 22px;
  height: 22px;
  background: url("../img/recent-posts-left.svg") no-repeat center center;
  transform: rotate(180deg);
  float: right;
  cursor: pointer;
}
.recent-posts-switcher__right:hover {
  background: url("../img/recent-posts-right.svg") no-repeat center center;
  transform: rotate(360deg);
}

.partners {
  height: 489px;
  background: url("../img/bg-partners.png") no-repeat;
}

.partners-content {
  display: flex;
  justify-content: space-between;
  padding: 140px 30px;
}

.partners__item {
  width: 210px;
  height: 210px;
}

.partners__item1 {
  background: url("../img/partner1.png") no-repeat center center;
}

.partners__item2 {
  background: url("../img/partner2.png") no-repeat center center;
}

.partners__item3 {
  background: url("../img/partner3.png") no-repeat center center;
}

.partners__item4 {
  background: url("../img/partner4.png") no-repeat center center;
}

.footer {
  background-color: #191919;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 80px 30px;
}

.footer__item {
  width: 271px;
}

.footer__about > .logo {
  float: none;
}

.about__desc {
  font-family: Montserrat, sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 29px;
  margin-bottom: 33px;
}

.about__link {
  font-family: Montserrat, sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  width: 89px;
  background: url("../img/arrow-footer.png") no-repeat right;
}

.footer__posts,
.footer__twitter,
.footer__widget {
  padding-top: 28px;
}

.footer__item__head {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}

.footer__item__text {
  padding-bottom: 21px;
  margin-bottom: 19px;
  border-bottom: 2px solid #252525;
}
.footer__item__text:hover .footer__posts__date {
  color: #ffffff;
}
.footer__item__text:hover .footer__twitter__date {
  color: #ffffff;
}
.footer__item__text:hover .footer__posts__desc {
  color: #c7b29a;
}
.footer__item__text:hover .footer__twitter__desc {
  color: #c7b29a;
}

.footer__posts__date {
  font-family: Montserrat, sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.footer__posts__desc {
  font-family: Montserrat, sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__twitter__desc {
  font-family: Montserrat, sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.footer__twitter__date {
  font-family: Montserrat, sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.footer__widget__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__widget__img {
  width: 130px;
  height: 98px;
  margin-bottom: 10px;
}

.footer-copyright {
  background: #111111;
}

.footer-copyright-content:after {
  content: '';
  display: block;
  clear: both;
}

.footer-copyright__item {
  font-family: Montserrat, sans-serif;
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.footer-copyright__item_floating-left {
  float: left;
}

.footer-copyright__item_floating-right {
  float: right;
}

/*# sourceMappingURL=style.css.map */
